<form method="post" action="{{ path('admin.wiadomosci.delete', {'id': jezioraWiadomosc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jezioraWiadomosc.id) }}">
    <button class="btn">Kasuj</button>
</form>
