<h1>www.e-jeziora24.pl</h1>

<p>
    Proszę potwierdzić swój adres email klikając na poniższy link: <br><br>
    <a href="{{ signedUrl|raw }}">Potwierdź</a>.
    Link wygaśnie za {{ expiresAt|date('g') }} godzin.
</p>

<p>
    Z rybackim pozdrowieniem! <br>
    Zespół www.e-jeziora24.pl
</p>

<p>
    Prosimy nie odpowiadać nia powyższą wiadomość.
</p>
