{% extends 'base.html.twig' %}

{% block title %}Nowa opłata{% endblock %}

{% block body %}
<div class="container">
	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-primary">
		<h1 class="text-primary">Dodawanie nowej opłaty</h1>
	</div>
</div>

<div class="container">

	{{ include('oplaty/_form.html.twig') }}

    <hr>

    <a class="pull-left" href="{{ path('oplaty_index') }}">
        <button class="btn btn-primary">
            Powrót
        </button>
    </a>

	<div class="clearfix"></div>

</div>

{% endblock %}
